@font-face {
  font-family: Renner;
  src:url('../assets/font/Renner.eot?#iefix') format('embedded-opentype'),
				 url('../assets/font/Renner.ttf') format('truetype'),
				 url('../assets/font/Renner.woff') format('woff');
  font-style:normal;
  font-weight:normal;
}

:root {
  --color-white: #FFFFFF;
  --color-primary: #162B62;
  --color-primary-alpha: #162b62ad;
  --color-secondary: #BA1010;
  --color-secondary-alpha: #BA1010ad;
  --color-gray1: #F6F6F6;
  --color-gray2: #6C7176;
  --color-gray3: #efefef;
  --color-black1: #121212;
  --color-black2: #212121;
  --color-black3: #313131;
  --color-black4: #515151;
  --color-black6: #777777;
}

:root {
  --m: 8px;
  --p: 8px;
  --transition: 0.3s;
  --border-radius: 8px;
  --width-default: 1200px;
  --filter-opacity: opacity(0.7);
}

html, body {
  width: 100%;
  min-width: 280px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Renner';
  background-color: #FFFFFF;
}

* {
  outline: 0;
  box-sizing: border-box;
  font-family: 'Renner';
  font-size: 16px;
}

a {
  text-decoration: none;
  font-size: 1em;
  color: var(--color-black2);
}

a:hover {
  transition: all var(--transition);
  color: var(--color-secondary);
}

.w100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.buttons {
  min-width: 160px;
  height: 45px;
  padding: 0 15px;
  position: relative;
  background: none;
  border: 0;
  cursor: pointer;
  color: var(--color-white);
  border-radius: 50px;
  transition: all var(--transition);
}
.buttons span {
  position: relative;
  z-index: 1;
  font-size: 1em;
}
.buttons::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-alpha);
  z-index: 0;
  top: 0;
  left: 0;
  border-radius: 50px;
  transition: all var(--transition);
}
.buttons::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-primary-alpha);
  top: -1px;
  left: -1px;
  border-radius: 50px;
  transform: scale(1.3);
  opacity: 0;
  visibility: hidden;
  transition: all var(--transition);
}
.buttons:hover {
  color: var(--color-primary);
}
.buttons:hover::before {
  transform: scale(0.5);
  opacity: 0;
}
.buttons:hover::after {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}


.buttons.btnRed::before {
  background-color: var(--color-secondary);
}
.buttons.btnRed::after {
  border: 1px solid var(--color-secondary);
}
.buttons.btnRed:hover {
  color: var(--color-secondary);
}

.buttons.btnBlue::before {
  background-color: var(--color-primary);
}
.buttons.btnBlue::after {
  border: 1px solid var(--color-primary);
}
.buttons.btnBlue:hover {
  color: var(--color-primary);
}

.buttons.btnCancel::before {
  background-color: var(--color-black2);
}
.buttons.btnCancel::after {
  border: 1px solid var(--color-black2);
}
.buttons.btnCancel:hover {
  color: var(--color-black2);
}

.buttons.alpha::before {
  filter: var(--filter-opacity);
}





.boxes {
  gap: 10px;
  align-items: center;
}
.boxes div:nth-child(1) span.material-symbols-outlined {
  color: var(--color-secondary);
  font-size: 3.1em;
}
.boxes div:nth-child(2) label {
  font-size: 0.9em;
  color: var(--color-gray2);
  font-weight: bold;
}
.boxes div:nth-child(2) p {
  margin: 0;
  color: var(--color-primary);
  font-weight: bold;
  transition: all var(--transition);
  margin-top: 5px;
}
.boxes div:nth-child(2) a p:hover {
  color: var(--color-secondary);
}



/* ==============================
--- Header ---
============================== */

header {
  height: 185px;
  width: 100%;
}


header .header-topbar .container,
header .header-middlebar .container,
header .header-navbar .container {
  flex-shrink: 0;
}

/* Header Topbar */
header .header-topbar,
header .header-topbar .container,
header .header-topbar .container .header-topbar-boxLeft {
  align-items: center;
}
header .header-topbar {
  height: 50px;
  background-color: var(--color-gray1);
  justify-content: center;
}
header .header-topbar .container {
  width: var(--width-default);
  height: 100%;
  justify-content: space-between;
}
header .header-topbar .container .header-topbar-boxLeft {
  gap: 10px;
}
header .header-topbar .container .header-topbar-boxLeft span {
  font-size: 1.3em;
  color: var(--color-secondary);
}
header .header-topbar .container .header-topbar-boxLeft p {
  color: var(--color-text-primary);
}
header .header-topbar .container .header-topbar-boxRight {
  width: 180px;
  height: 100%;
  background-color: var(--color-primary);
  transition: all var(--transition);
  cursor: pointer;
}
header .header-topbar .container .header-topbar-boxRight a {
  display: block;
  height: 100%;
  color: var(--color-white);
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}
header .header-topbar .container .header-topbar-boxRight:hover {
  background-color: var(--color-secondary);
}
/* End Header Topbar */

/* Header Middlebar */
header .header-middlebar {
  height: 135px;
  background-color: var(--color-white);
  justify-content: center;
}
header .header-middlebar .container {
  width: var(--width-default);
  height: 105px;
  justify-content: space-between;
  align-items: center;
}
header .header-middlebar .container .header-middlebar-boxLeft img {
  width: 160px;
}
header .header-middlebar .container .header-middlebar-boxRight,
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-social,
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-contact {
  align-items: center;
}
header .header-middlebar .container .header-middlebar-boxRight {
  justify-content: space-between;
  width: 700px;
}
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-contact {
  gap: 40px;
}



header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-social {
  gap: 10px;
}
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-social a span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-gray1);
  text-align: center;
  line-height: 40px;
  font-size: 1.2em;
  color: var(--color-primary);
  transition: all var(--transition);
}
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-social a span:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
}
header .header-middlebar .container .header-middlebar-boxLeft-actions {
  display: none;
}
/* End Header Middlebar */

/* Header Navbar */
header .header-navbar {
  position: absolute;
  height: 70px;
  margin-top: -35px;
  justify-content: center;
  z-index: 99999;
}
header .header-navbar.p-fixed {
  position: fixed;
  margin-top: 0;
  top: 0;
  animation: navbarFixed var(--transition);
}
@keyframes navbarFixed {
  0% { top: -100%; }
  100% { top: 0; }
}
header .header-navbar .container {
  width: var(--width-default);
  height: 100%;
  justify-content: space-between;
  gap: 20px;
}
header .header-navbar .container .header-navbar-logo {
  display: none;
}
header .header-navbar .container .header-navbar-boxLeft {
  width: 940px;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 0 50px 50px 0;
  z-index: 1;
  justify-content: space-between;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
header .header-navbar .container .header-navbar-boxLeft::after {
  position: absolute;
  content: '';
  height: 70px;
  width: 50%;
  left: 0;
  z-index: -1;
  background-color: var(--color-primary);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
header .header-navbar .container .header-navbar-boxLeft nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header .header-navbar .container .header-navbar-boxLeft nav > ul {
  display: flex;
  height: 100%;
  align-items: center;
}
header .header-navbar .container .header-navbar-boxLeft nav > ul li {
  position: relative;
}
header .header-navbar .container .header-navbar-boxLeft nav ul li i {
  display: none;
}
header .header-navbar .container .header-navbar-boxLeft nav > ul > li {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all var(--transition);
}
header .header-navbar .container .header-navbar-boxLeft nav > ul > li.active,
header .header-navbar .container .header-navbar-boxLeft nav > ul > li:hover {
  background-color: var(--color-secondary);
}
header .header-navbar .container .header-navbar-boxLeft nav > ul > li > a {
  color: var(--color-white);
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 25px;
}
header .header-navbar .container .header-navbar-boxLeft nav ul li ul {
  position: absolute;
  width: 250px;
  border-top: 3px solid var(--color-secondary);
  border-radius: 0 0 5px 5px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition: all var(--transition);
  opacity: 0;
  visibility: hidden;
}
header .header-navbar .container .header-navbar-boxLeft nav > ul > li > ul {
  top: 100px; 
}
header .header-navbar .container .header-navbar-boxLeft nav ul li ul li ul {
  top: 30px;
  left: 255px;
}
header .header-navbar .container .header-navbar-boxLeft nav ul li:hover > ul {
  opacity: 1;
  visibility: visible;
}
header .header-navbar .container .header-navbar-boxLeft nav > ul > li:hover > ul {
  top: 70px;
}
header .header-navbar .container .header-navbar-boxLeft nav > ul > li ul li:hover > ul {
  top: 0px;
}
header .header-navbar .container .header-navbar-boxLeft nav ul li ul li {
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid var(--color-gray1);
  min-height: 45px;
}
header .header-navbar .container .header-navbar-boxLeft nav ul li ul li:last-child {
  border-bottom: 0;
}
header .header-navbar .container .header-navbar-boxLeft nav ul li ul li a {
  padding: 11px 20px;
  display: flex;
  height: 100%;
  align-items: center;
  color: var(--color-primary);
  font-weight: bold;
  transition: all var(--transition);
}
header .header-navbar .container .header-navbar-boxLeft nav ul li ul li a::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  background-color: var(--color-white);
  left: 20px;
  opacity: 0;
  transition: all var(--transition);
  transition-delay: 0s;
}
header .header-navbar .container .header-navbar-boxLeft nav ul li ul li a:hover {
  padding-left: 35px;
  color: var(--color-white);
  background-color: var(--color-secondary);
}
header .header-navbar .container .header-navbar-boxLeft nav ul li ul li a:hover::before {
  opacity: 1;
  transition-delay: 0.2s;
}

header .header-navbar .container .header-navbar-boxLeft .header-navbar-boxLeft-btnSearch {
  height: 100%;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  overflow: hidden;
  position: relative;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  transition: all var(--transition);
}
header .header-navbar .container .header-navbar-boxLeft .header-navbar-boxLeft-btnSearch::before {
  position: absolute;
  content: '';
  background-color: rgba(255, 255, 255, 0.1);
  width: 150%;
  height: 150%;
  border-radius: 10px 50px 50px 80px;
  top: 0;
  left: 0;
  transition: all var(--transition);
}
header .header-navbar .container .header-navbar-boxLeft .header-navbar-boxLeft-btnSearch span.material-symbols-outlined {
  position: relative;
  font-size: 2em;
  z-index: 1;
}
header .header-navbar .container .header-navbar-boxLeft .header-navbar-boxLeft-btnSearch:hover::before {
  background-color: var(--color-secondary);
}
header .header-navbar  .container .header-navbar-boxRight {
  background-color: var(--color-secondary);
  width: 240px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50px 0px 50px 50px;
  justify-content: center;
  flex-shrink: 0;
}
header .header-navbar .container .header-navbar-boxRight .boxes div:nth-child(1) span.material-symbols-outlined,
header .header-navbar .container .header-navbar-boxRight .boxes div:nth-child(2) label,
header .header-navbar .container .header-navbar-boxRight .boxes div:nth-child(2) p {
  color: var(--color-white);
}
header .header-navbar .container .header-navbar-boxRight .boxes div:nth-child(2) a p:hover {
  color: var(--color-primary);
}


.popup-search {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100000;
  display: none;
}
.popup-search .popup-search-close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-white);
  color: var(--color-black2);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  top: 50px;
  right: 90px;
  position: absolute;
  transition: all var(--transition);
}
.popup-search .popup-search-close:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.popup-search .popup-search-form {
  width: var(--width-default);
  height: 55px;
  background-color: var(--color-white);
  border-radius: 100px;
  padding: 5px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup-search .popup-search-form button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  color: var(--color-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  transition: all var(--transition);
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.popup-search .popup-search-form button:hover {
  background-color: var(--color-primary);
}
.popup-search .popup-search-form input {
  height: 100%;
  border-radius: 100px;
  width: 100%;
  padding: 0 10px;
  border: 0;
}
/* End Header Navbar */


/* ==============================
--- Slider ---
============================== */
.slider {
  width: 100%;
  height: 800px;
  background-color: #eee;
  overflow: hidden;
  position: relative;
  transition: all var(--transition);
}
.slider .slider-images {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.slider .slider-images div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--image-url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
}
.slider .slider-texts {
  position: absolute;
  z-index: 1;
  width: var(--width-default);
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}
.slider .slider-texts > div {
  width: 550px;
  display: none;
  position: absolute;
}
.slider .slider-texts > div > * {
  position: relative;
}
.slider .slider-texts .slider-texts-section1,
.slider .slider-texts .slider-texts-section2,
.slider .slider-texts .slider-texts-section3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.slider .slider-texts .slider-texts-section1 {
  font-size: 0.9em;
  color: var(--color-secondary);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}
.slider .slider-texts .slider-texts-section2 {
  font-size: 5em;
  color: var(--color-primary);
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 100px;
}
.slider .slider-texts .slider-texts-section3 {
  font-size: 1em;
  color: var(--color-primary);
  font-weight: bold;
  margin-bottom: 20px;
}
.slider .slider-actions {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 50%;
  display: flex;
  justify-content: space-between;
}
.slider .slider-actions button {
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--color-white);
  border: 0;
  cursor: pointer;
  height: 60px;
  width: 70px;
  display: flex;
  align-items: center;
  transition: all var(--transition);
}
.slider .slider-actions button span.material-symbols-outlined {
  font-size: 2em;
}
.slider .slider-actions button.slider-prev {
  border-radius: 0 50px 50px 0;
  justify-content: flex-end;
  padding-right: 6px;
  position: relative;
  right: 35px;
}
.slider .slider-actions button.slider-next {
  border-radius: 50px 0 0 50px;
  justify-content: flex-start;
  padding-left: 6px;
  position: relative;
  left: 35px;
}
.slider .slider-actions button:hover {
  background-color: var(--color-secondary);
}
.slider .slider-actions button.slider-next:hover {
  left: 0px;
  padding-left: 20px;
}
.slider .slider-actions button.slider-prev:hover {
  right: 0px;
  padding-right: 20px;
}
.slider .slider-timeLine {
  position: absolute;
  width: 100%;
  height: 5px;
  z-index: 100;
  bottom: 0;
}
.slider .slider-timeLine div {
  width: 0;
  height: 100%;
  background-color: var(--color-secondary-alpha);
}
/* ==============================
--- Contents ---
============================== */

/* Section 1 */
.section1, .section2, .section3, .section4, .section5 {
  justify-content: center;
}
.section1 > div, .section2 > div, .section3 > div, .section4 > div, .section5 > div {
  width: var(--width-default);
}
.section1 > div {
  justify-content: space-between;
  gap: 30px;
  position: relative;
  margin-top: -50px;
  z-index: 101;
  flex-wrap: wrap;
}
.section1 .section1-box {
  width: calc(25% - 30px);
  min-height: 400px;
  position: relative;
}

.section1 .section1-box p {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.section1 .section1-box.offerBox,
.section1 .section1-box:not(.offerBox) .section1-box-top,
.section1 .section1-box:not(.offerBox) .section1-box-bottom {
  padding: 30px;
}
.section1 .section1-box.offerBox {
  background-color: var(--color-primary);
  border-radius: 20px;
  border-bottom-left-radius: 0;
}
.section1 .section1-box.offerBox * {
  color: var(--color-white);
}
.section1 .section1-box.offerBox .section1-box-top p {
  margin-bottom: 20px;
}
.section1 .section1-box.offerBox .section1-box-bottom {
  position: absolute;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  background-color: var(--color-secondary);
  width: 150px;
  height: 150px; 
  align-items: center;
  justify-content: center;
  padding: 10px 20px 0;
  font-weight: bold;
  left: 0;
  bottom: 0;
}
.section1 .section1-box.offerBox .section1-box-bottom span {
  display: block;
  margin-bottom: 13px;
}
.section1 .section1-box.offerBox .section1-box-bottom a {
  border-bottom: 1px solid var(--color-white);
  padding-bottom: 3px;
  font-size: .9em;
}

.section1 .section1-box:not(.offerBox) * {
  color: var(--color-primary);
}
.section1 .section1-box:not(.offerBox) .section1-box-top {
  width: 100%;
  height: 230px;
  background-color: var(--color-white);
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border: 1px solid var(--color-gray3);
  box-shadow: 0px 20px 40px 0px rgb(0 0 0 / 4%);
  position: relative;
}
.section1 .section1-box:not(.offerBox) .section1-box-top * {
  position: relative;
  z-index: 1;
}
.section1 .section1-box:not(.offerBox) .section1-box-top::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 65% 20px;
  background-color: var(--color-gray1);
  z-index: 0;
  top: 0;
  left: 0;
}
.section1 .section1-box:not(.offerBox) .section1-box-top p {
  position: relative;
}
.section1 .section1-box:not(.offerBox) .section1-box-top a {
  position: absolute;
  bottom: -15px;
  left: 30px;
}
.section1 .section1-box:not(.offerBox) .section1-box-top button {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background-color: var(--color-primary);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all var(--transition);
}
.section1 .section1-box:not(.offerBox) .section1-box-top button img {
  width: 15px;
}
.section1 .section1-box:not(.offerBox) .section1-box-top button:hover {
  background-color: var(--color-secondary);
}
.section1 .section1-box:not(.offerBox) .section1-box-top span {
  position: absolute;
  font-weight: bold;
  font-size: 3.5em;
  -webkit-text-stroke: .001em var(--color-primary-alpha);
  color: transparent;
  bottom: 7px;
  right: 30px;
}
.section1 .section1-box:not(.offerBox) .section1-box-top div {
  width: 60px;
  height: 60px;
  background-image: var(--image-url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 30px;
  bottom: 45px;
  filter: drop-shadow(0px 0px 8px rgba(186, 16, 16, 0.5));
}
.section1 .section1-box:not(.offerBox) .section1-box-bottom {
  min-height: 170px;
  padding-bottom: 0;
}
.section1 .section1-box:not(.offerBox) .section1-box-bottom ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.section1 .section1-box:not(.offerBox) .section1-box-bottom ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  font-weight: bold;
}
.section1 .section1-box:not(.offerBox) .section1-box-bottom ul li img {
  width: 15px;
}

hr.divider {
  width: var(--width-default);
  height: 1px;
  background: var(--color-gray3);
  border: none;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Section 2 */
.section2 > div {
  gap: 40px;
}
.section2 .section2-boxLeft,
.section4 .tabContent .section4-boxLeft {
  width: 50%;
  flex-shrink: 0;
}
.section2 .section2-boxLeft img,
.section4 .tabContent .section4-boxLeft img {
  width: 100%;
  border-radius: 20px;
  border-bottom-right-radius: 0;
}
.section2 .section2-boxRight span.label,
.section4 .tabContent .section4-boxRight span.label,
.section5 .section5-boxLeft span.label {
  color: var(--color-secondary);
  font-weight: bold;
}
.section2 .section2-boxRight h2.title,
.section4 .tabContent .section4-boxRight h2.title,
.section5 .section5-boxLeft h2.title {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 3em;
  margin: 5px 0 20px;
  line-height: 1.2;
}
.section2 .section2-boxRight p.description,
.section4 .tabContent .section4-boxRight p.description,
.section5 .section5-boxLeft p.description {
  color: var(--color-gray2);
}
.section2 .section2-boxRight ul,
.section4 .tabContent .section4-boxRight ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section2 .section2-boxRight ul,
.section2 .section2-boxRight .section2-boxRight-statistics,
.section2 .section2-boxRight .section2-boxRight-footer,
.section4 .tabContent .section4-boxRight ul {
  margin-top: 50px;
}
.section2 .section2-boxRight ul li,
.section4 .tabContent .section4-boxRight ul li {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.section2 .section2-boxRight ul li a,
.section4 .tabContent .section4-boxRight ul li a {
  color: var(--color-primary);
  font-weight: bold;
}
.section2 .section2-boxRight ul li img,
.section4 .tabContent .section4-boxRight ul li img {
  position: relative;
  top: -5px;
  flex-shrink: 0;
}
.section2 .section2-boxRight .section2-boxRight-statistics {
  width: 100%;
  justify-content: space-between;
}
.section2 .section2-boxRight .boxes > div:last-child p {
  font-size: 2.2em;
  margin-bottom: 0;
}
.section2 .section2-boxRight .section2-boxRight-footer {
  align-items: center;
  gap: 80px;
}
.section2 .section2-boxRight .section2-boxRight-footer .boxes > div:last-child p {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* Section3 */
.section3 {
  height: 450px;
  background-image: var(--image-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 100px;
  align-items: center;
  position: relative;
}
.section3::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  filter: opacity(0.9);
  width: 100%;
  height: 100%;
}
.section3 div {
  width: 1000px;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  margin-top: -100px;
}
.section3 div h2 {
  font-size: 2.8em;
  font-weight: bold;
  color: var(--color-white);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Section4 */
.section4 > div {
  flex-direction: column;
  position: relative;
  margin-top: -30px;
}
.section4 .section4-tabs {
  width: 100%;
  justify-content: space-between;
  gap: 40px;
}
.section4 .section4-tabs button {
  width: 33.3%;
  height: 60px;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: bold;
  background-color: var(--color-white);
  border-radius: 50px;
  border: none;
  box-shadow: 0px 20px 40px 0px rgb(0 0 0 / 4%);
  color: var(--color-primary);
}
.section4 .section4-tabs button.active {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.section4 .section4-contents .tabContent {
  display: none;
  margin-top: 50px;
}

.section4 .section4-contents .tabContent > div {
  gap: 40px;
}

.section4 .section4-contents .tabContent:first-child {
  display: block;
}

/* Section5 */
.section5 > div {
  gap: 40px;
}
.section5 .section5-boxLeft {
  width: 50%;
  flex-shrink: 0;
}
.section5 .section5-boxRight {
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.section5 .section5-boxRight .section5-boxRight-tabs {
  width: 100%;
}
.section5 .section5-boxRight .section5-boxRight-tabs .tabTitle {
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  background-color: var(--color-gray1);
  padding: 0 20px;
  color: var(--color-primary);
  font-weight: bold;
  height: 50px;
  width: 100%;
  cursor: pointer;
}
.section5 .section5-boxRight .section5-boxRight-tabs .tabTitle span.material-symbols-outlined {
  font-size: 1.4em;
}

.section5 .section5-boxRight .section5-boxRight-tabs .tabContent {
  color: var(--color-gray2);
  margin-top: 20px;
  padding: 0 20px;
  display: none;
}

/* ==============================
--- Footer ---
============================== */
footer {
  background-color: #1d2150;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

footer > div {
  width: var(--width-default);
}

footer .footer-top {
  height: 110px;
  gap: 40px;
}

footer .footer-top > div {
  border-radius: 0 0 20px 20px;
}

footer .footer-top .footer-top-boxLeft {
  width: 250px;
  height: 100%;
  background-color: var(--color-secondary);
  align-items: center;
  justify-content: center;
}

footer .footer-top .footer-top-boxRight {
  background-color: var(--color-gray1);
  width: calc(100% - 290px);
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}

footer .footer-top .footer-top-boxRight .boxes div:last-child p {
  margin-bottom: 6px;
  margin-top: 0;
}

footer hr {
  border: none;
  background-color: #d9d9d9;
}

footer .footer-top .footer-top-boxRight hr {
  width: 1px;
  height: calc(100% - 40px);
}

footer .footer-middle {
  justify-content: space-between;
  gap: 40px;
  margin-top: 50px;
}

footer .footer-middle > div {
  width: calc(25% - 40px);
  margin-bottom: 20px;
}

footer .footer-middle > div > div:first-child {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--color-white);
}

footer .footer-middle > div:first-child table {
  color: var(--color-gray3);
  margin-top: 10px;
}

footer .footer-middle > div:first-child table tr td {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

footer .footer-middle > div:first-child table tr td:last-child {
  text-align: right;
}

footer .footer-middle > div:first-child table tr:last-child td {
  border-bottom: 0;
}

footer .footer-middle > div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer-middle > div ul li {
  margin-top: 20px;
}

footer .footer-middle > div ul li a {
  color: var(--color-gray3);
}

footer .footer-middle > div:last-child > div:last-child {
  color: var(--color-gray3);
  margin-top: 20px;
}

footer .footer-middle > div:last-child > div div {
  width: 100%;
  height: 55px;
  background-color: #ffffff1a;
  border-radius: 10px;
  margin-top: 20px;
  padding: 0 10px;
  align-items: center;
  gap: 5px;
}

footer .footer-middle > div:last-child > div div button {
  border: 0;
  background: none;
  filter: brightness(5000%);
  cursor: pointer;
  align-items: center;
  transition: all var(--transition);
}

footer .footer-middle > div:last-child > div div button:hover {
  filter: brightness(100%);
}

footer .footer-middle > div:last-child > div div input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  color: var(--color-white);
}

footer .footer-middle > div:last-child > div div input::placeholder {
  color: var(--color-white);
}

footer .footer-bottom {
  justify-content: space-between;
  align-items: center;
  height: 110px;
  margin-top: 50px;
  border-top: 1px solid #ffffff1a;
}

footer .footer-bottom .footer-bottom-boxLeft {
  gap: 10px;
}

footer .footer-bottom .footer-bottom-boxLeft button {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  position: relative;
  overflow: hidden;
}

footer .footer-bottom .footer-bottom-boxLeft button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-secondary);
  top: 110px;
  left: 0;
  transition: all var(--transition);
}

footer .footer-bottom .footer-bottom-boxLeft button img{
  width: 25px;
  position: relative;
  z-index: 1;
  transition: all var(--transition);
}

footer .footer-bottom .footer-bottom-boxLeft button:hover img {
  filter: brightness(5000%);
}

footer .footer-bottom .footer-bottom-boxLeft button:hover::before {
  top: 0;
}

footer .footer-bottom .footer-bottom-boxRight {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--color-white);
}


/* Scroll to Top */
.scrollToTop {
  position: fixed;
  width: 60px;
  height: 60px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-white);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  z-index: 99999;
  bottom: -100%;
  right: 30px;
  cursor: pointer;
  transition: all var(--transition);
  overflow: hidden;
}
.scrollToTop img {
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
  position: relative;
  z-index: 1;
}
.scrollToTop::before {
  position: absolute;
  content: '';
  top: 110%;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-primary);
  width: 100%;
  height: 100%;
  transition: all var(--transition);
}
.scrollToTop:hover:before {
  top: 0;
}

@media only screen and (max-width: 1200px) {
  :root {
    --width-default: calc(100% - 20px);
  }
  .section1 .section1-box.offerBox,
  .section1 .section1-box:not(.offerBox) .section1-box-top,
  .section1 .section1-box:not(.offerBox) .section1-box-bottom {
    padding: 15px;
  }
  .section1 .section1-box:not(.offerBox) .section1-box-top a,
  .section1 .section1-box:not(.offerBox) .section1-box-top div {
    left: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  header {
    height: 80px;
    width: 100%;
  }

  header .header-topbar,
  header .header-middlebar-boxRight {
    display: none;
  }

  header .header-middlebar {
    height: 80px;
    position: fixed;
    z-index: 99999;
  }

  header .header-middlebar .container {
    height: 100%;
  }

  header .header-middlebar .container .header-middlebar-boxLeft img {
    width: 120px;
  }

  header .header-middlebar .container .header-middlebar-boxLeft-actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  header .header-middlebar .container .header-middlebar-boxLeft-actions div span.material-symbols-outlined {
    color: var(--color-black2);
    font-size: 1.8em;
  }

  header .header-navbar {
    margin: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    display: none;
  }
  header .header-navbar .container {
    width: 250px;
    height: 100%;
    background-color: var(--color-white);
    flex-direction: column;
    position: relative;
    left: -100%;
  }
  header .header-navbar .container .header-navbar-boxRight,
  header .header-navbar .container .header-navbar-boxLeft::after {
    display: none;
  }
  
  header .header-navbar .container .header-navbar-logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-gray1);
  }
  
  header .header-navbar .container .header-navbar-logo img {
    width: 120px;
  }

  header .header-navbar .container .header-navbar-boxLeft {
    background: none;
    border-radius: 0;
    justify-content: flex-start;
    box-shadow: none;
    width: 100%;
  }

  header .header-navbar .container .header-navbar-boxLeft nav {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  header .header-navbar .container .header-navbar-boxLeft nav ul {
    width: 100%;
    flex-direction: column;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li {
    width: 100%;
    cursor: pointer;
    border-bottom: 0px solid var(--color-gray1);
    min-height: 45px;
    color: var(--color-black2);
    position: relative;
    transition: none;
    flex-shrink: 0;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li i {
    display: block;
    position: absolute;
    right: 10px;
    color: var(--color-black3);
    font-size: 1.4em;
    top: 13px;
  }
  header .header-navbar .container .header-navbar-boxLeft nav > ul > li {
    height: fit-content;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  header .header-navbar .container .header-navbar-boxLeft nav > ul > li.active {
    background: none;
  }
  header .header-navbar .container .header-navbar-boxLeft nav > ul > li:hover {
    background: none;
  }
  header .header-navbar .container .header-navbar-boxLeft nav > ul > li.active a {
    color: var(--color-secondary);
  }
  header .header-navbar .container .header-navbar-boxLeft nav > ul > li > a {
    color: var(--color-black2);
    display: inline-flex;
    padding: 8px 10px;
    font-weight: bold;
    height: 45px;
    transition: none;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li ul {
    position: relative;
    width: 100%;
    border-top: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: var(--color-gray1);
    opacity: 1;
    visibility: visible;
    display: none;
    transition: none;
  }
  header .header-navbar .container .header-navbar-boxLeft nav > ul > li > ul {
    top: 0; 
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li ul li ul {
    top: 0;
    left: 0;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li:hover > ul {
    opacity: 1;
    visibility: visible;
  }
  header .header-navbar .container .header-navbar-boxLeft nav > ul > li:hover > ul {
    top: 0;
  }
  header .header-navbar .container .header-navbar-boxLeft nav > ul > li ul li:hover > ul {
    top: 0px;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li ul li:last-child {
    border-bottom: 0;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li ul li a {
    display: inline-flex;
    color: var(--color-black2);
    font-weight: normal;
    transition: none;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li ul li a::before {
    display: none;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li ul li a:hover {
    padding-left: 20px;
    color: inherit;
    background: none;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li ul li ul {
    background-color: #ddd;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li ul li ul li a {
    font-weight: normal;
    padding-left: 30px;
  }
  header .header-navbar .container .header-navbar-boxLeft .header-navbar-boxLeft-btnSearch {
    display: none;
  }

  
  .popup-search .popup-search-close {
    top: 30px;
    right: 30px;
  }

  .slider {
    height: calc(100% - 80px);
  }
  .slider .slider-texts {
    height: 500px;
  }
  .slider .slider-texts > div {
    width: 70%;
  }
  .slider .slider-texts .slider-texts-section1 {
    font-size: 0.9em;
  }
  .slider .slider-texts .slider-texts-section2 {
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 70px;
  }
  .slider .slider-texts .slider-texts-section3 {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  
  /* Section 1 */
  .section1 .section1-box {
    width: calc(50% - 30px);
  }

  /* Section 2 */
  hr.divider {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .section2 > div {
    flex-direction: column;
  }
  .section2 .section2-boxLeft,
  .section4 .section4-contents .tabContent .section4-boxLeft {
    width: 100%;
  }
  .section2 .section2-boxRight h2.title,
  .section4 .section4-contents .tabContent .section4-boxRight h2.title,
  .section5 .section5-boxLeft h2.title {
    font-size: 3em;
    margin: 5px 0 0px;
    line-height: 1;
  }
  .section2 .section2-boxRight ul,
  .section2 .section2-boxRight .section2-boxRight-statistics,
  .section2 .section2-boxRight .section2-boxRight-footer,
  .section4 .section4-contents .tabContent .section4-boxRight ul {
    margin-top: 30px;
  }
  .section2 .section2-boxRight .section2-boxRight-statistics,
  .section2 .section2-boxRight .section2-boxRight-footer {
    width: 70%;
    justify-content: space-between;
  }
  .section2 .section2-boxRight .section2-boxRight-footer {
    gap: 0px;
  }

  /* Section3 */
  .section3 div {
    width: var(--width-default);
  }

  /* Section4 */
  .section4 .section4-contents .tabContent > div {
    flex-direction: column;
  }

  /* ==============================
  --- Footer ---
  ============================== */    
  footer .footer-top {
    height: fit-content;
    flex-direction: column;
    gap: 20px;
  }
  
  footer .footer-top .footer-top-boxLeft {
    width: 100%;
    height: 110px;
  }
  
  footer .footer-top .footer-top-boxRight {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
  }
  
  footer .footer-top .footer-top-boxRight hr,
  footer .footer-middle hr {
    width: calc(100% - 20px);
    height: 1px;
  }
  
  footer .footer-middle {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  
  footer .footer-middle hr {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  footer .footer-middle > div {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .slider {
    height: calc(80% - 80px);
  }
  

  /* Section 2 */
  .section2 .section2-boxRight h2.title,
  .section4 .section4-contents .tabContent .section4-boxRight h2.title,
  .section5 .section5-boxLeft h2.title {
    font-size: 2em;
  }

  /* Section5 */
  .section5 > div {
    flex-direction: column;
  }
  .section5 .section5-boxLeft,
  .section5 .section5-boxRight {
    width: 100%;
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 768px) {
  .slider {
    height: calc(60% - 80px);
  }
  .slider .slider-texts {
    height: 300px;
  }
  .slider .slider-texts .slider-texts-section1 {
    font-size: 0.7em;
  }
  .slider .slider-texts .slider-texts-section2 {
    font-size: 2em;
    margin-bottom: 10px;
    line-height: 40px;
  }
  .slider .slider-texts .slider-texts-section3 {
    font-size: 0.7em;
    margin-bottom: 20px;
  }
  .slider .slider-texts .slider-texts-section4 .buttons {
    min-width: 100px;
    height: 35px;
    padding: 0 10px;
    position: relative;
    background: none;
    border: 0;
    cursor: pointer;
    color: var(--color-white);
    border-radius: 50px;
    transition: all var(--transition);
  }
  .slider .slider-texts .slider-texts-section4 .buttons span {
    font-size: 0.8em;
  }

  /* Section 1 */
  .section1 > div {
    margin-top: -25px;
    margin-bottom: -25px;
  }
  .section1 .section1-box {
    width: 100%;
  }
  
  /* Section 2 */
  .section2 .section2-boxRight .section2-boxRight-statistics,
  .section2 .section2-boxRight .section2-boxRight-footer {
    width: 100%;
    justify-content: space-between;
  }

  /* Section3 */
  .section3 div h2 {
    font-size: 2em;
  }

  /* Section4 */
  .section4 .section4-tabs {
    gap: 20px;
  }
  .section4 .section4-tabs button {
    font-size: 1em;
  }
  
  /* ==============================
  --- Footer ---
  ============================== */ 
  footer .footer-bottom {
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    height: fit-content;
    gap: 40px;
  }
  footer .footer-bottom .footer-bottom-boxRight {
    font-size: 1em;
  }
}

@media only screen and (max-width: 470px) {
  .slider {
    height: calc(50% - 80px);
  }

  /* Section 2 */
  .section2 .section2-boxRight .section2-boxRight-statistics,
  .section2 .section2-boxRight .section2-boxRight-footer {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .section2 .section2-boxRight .section2-boxRight-statistics .boxes > div:first-child img {
    width: 50px;
  }
  .section2 .section2-boxRight .boxes > div:last-child p {
    font-size: 1.3em;
  }
  .section2 .section2-boxRight .section2-boxRight-footer {
    margin-top: 20px;
    flex-direction: column-reverse;
  }

  /* Section3 */
  .section3 div h2 {
    font-size: 1.7em;
  }

  /* Section4 */
  .section4 > div {
    margin-top: -20px;
  }
  .section4 .section4-tabs {
    gap: 10px;
  }
  .section4 .section4-tabs button {
    height: 40px;
    font-size: 0.8em;
  }
}