@font-face {
  font-family: Renner;
  src:url('../assets/font/Renner.eot?#iefix') format('embedded-opentype'),
				 url('../assets/font/Renner.ttf') format('truetype'),
				 url('../assets/font/Renner.woff') format('woff');
  font-style:normal;
  font-weight:normal;
}

:root {
  --color-white: #FFFFFF;
  --color-primary: #162B62;
  --color-text-primary: #162B62;
  --color-secondary: #BA1010;
  --color-gray1: #F6F6F6;
  --color-gray2: #6C7176;
  --color-black1: #121212;
  --color-black2: #212121;
  --color-black3: #313131;
  --color-black4: #515151;
  --color-black6: #777777;
}

:root {
  --m: 8px;
  --p: 8px;
  --transition: 0.3s;
  --border-radius: 8px;
  --width-default: 1200px;
}

html, body {
  width: 100%;
  min-width: 280px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Renner';
  background-color: #aaa;
}

* {
  outline: 0;
  box-sizing: border-box;
  font-family: 'Renner';
  font-size: 16px;
}

a {
  text-decoration: none;
  font-size: 1em;
  color: var(--color-black2);
}

a:hover {
  transition: all var(--transition);
  color: var(--color-secondary);
}

.w100 {
  width: 100%;
}

.d-flex {
  display: flex;
}



/* ==============================
--- Header ---
============================== */

header {
  height: 226px;
  width: 100%;
}


header .header-topbar .container,
header .header-middlebar .container,
header .header-navbar .container {
  flex-shrink: 0;
}

/* Header Topbar */
header .header-topbar,
header .header-topbar .container,
header .header-topbar .container .header-topbar-boxLeft {
  align-items: center;
}
header .header-topbar {
  height: 50px;
  background-color: var(--color-gray1);
  justify-content: center;
}
header .header-topbar .container {
  width: var(--width-default);
  height: 100%;
  justify-content: space-between;
}
header .header-topbar .container .header-topbar-boxLeft {
  gap: 10px;
}
header .header-topbar .container .header-topbar-boxLeft span {
  font-size: 1.3em;
  color: var(--color-secondary);
}
header .header-topbar .container .header-topbar-boxLeft p {
  color: var(--color-text-primary);
}
header .header-topbar .container .header-topbar-boxRight {
  width: 180px;
  height: 100%;
  background-color: var(--color-primary);
  transition: all var(--transition);
  cursor: pointer;
}
header .header-topbar .container .header-topbar-boxRight a {
  display: block;
  height: 100%;
  color: var(--color-white);
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}
header .header-topbar .container .header-topbar-boxRight:hover {
  background-color: var(--color-secondary);
}
/* End Header Topbar */

/* Header Middlebar */
header .header-middlebar {
  height: 135px;
  background-color: var(--color-white);
  justify-content: center;
}
header .header-middlebar .container {
  width: var(--width-default);
  height: 105px;
  justify-content: space-between;
  align-items: center;
}
header .header-middlebar .container .header-middlebar-boxLeft img {
  width: 160px;
}
header .header-middlebar .container .header-middlebar-boxRight,
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-social,
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-contact,
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-contact .boxes,
header .header-navbar .container .header-navbar-boxRight .boxes {
  align-items: center;
}
header .header-middlebar .container .header-middlebar-boxRight {
  justify-content: space-between;
  width: 700px;
}
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-contact {
  gap: 40px;
}
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-contact .boxes,
header .header-navbar .container .header-navbar-boxRight .boxes {
  gap: 10px;
}
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-contact .boxes div:nth-child(1) span.material-symbols-outlined,
header .header-navbar .container .header-navbar-boxRight .boxes div:nth-child(1) span.material-symbols-outlined {
  color: var(--color-secondary);
  font-size: 3.1em;
}
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-contact .boxes div:nth-child(2) label,
header .header-navbar .container .header-navbar-boxRight .boxes div:nth-child(2) label {
  font-size: 0.9em;
  color: var(--color-gray2);
}
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-contact .boxes div:nth-child(2) p,
header .header-navbar .container .header-navbar-boxRight .boxes div:nth-child(2) p {
  margin: 0;
  color: var(--color-primary);
  font-weight: bold;
  transition: all var(--transition);
}
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-contact .boxes div:nth-child(2) a p:hover {
  color: var(--color-secondary);
}
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-social {
  gap: 10px;
}
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-social a span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-gray1);
  text-align: center;
  line-height: 40px;
  font-size: 1.2em;
  color: var(--color-primary);
  transition: all var(--transition);
}
header .header-middlebar .container .header-middlebar-boxRight .header-middlebar-boxRight-social a span:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
}
header .header-middlebar .container .header-middlebar-boxLeft-actions {
  display: none;
}
/* End Header Middlebar */

/* Header Navbar */
header .header-navbar {
  position: absolute;
  height: 70px;
  margin-top: -35px;
  justify-content: center;
}
header .header-navbar.p-fixed {
  position: fixed;
  margin-top: 0;
  top: 0;
  animation: navbarFixed var(--transition);
}
@keyframes navbarFixed {
  0% { top: -100%; }
  100% { top: 0; }
}
header .header-navbar .container {
  width: var(--width-default);
  height: 100%;
  justify-content: space-between;
  gap: 20px;
}
header .header-navbar .container .header-navbar-logo {
  display: none;
}
header .header-navbar .container .header-navbar-boxLeft {
  width: 940px;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 0 50px 50px 0;
  z-index: 1;
  justify-content: space-between;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
header .header-navbar .container .header-navbar-boxLeft::after {
  position: absolute;
  content: '';
  height: 70px;
  width: 50%;
  left: 0;
  z-index: -1;
  background-color: var(--color-primary);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
header .header-navbar .container .header-navbar-boxLeft nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header .header-navbar .container .header-navbar-boxLeft nav > ul {
  display: flex;
  height: 100%;
  align-items: center;
}
header .header-navbar .container .header-navbar-boxLeft nav > ul li {
  position: relative;
}
header .header-navbar .container .header-navbar-boxLeft nav ul li i {
  display: none;
}
header .header-navbar .container .header-navbar-boxLeft nav > ul > li {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all var(--transition);
}
header .header-navbar .container .header-navbar-boxLeft nav > ul > li.active,
header .header-navbar .container .header-navbar-boxLeft nav > ul > li:hover {
  background-color: var(--color-secondary);
}
header .header-navbar .container .header-navbar-boxLeft nav > ul > li > a {
  color: var(--color-white);
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 25px;
}
header .header-navbar .container .header-navbar-boxLeft nav ul li ul {
  position: absolute;
  width: 250px;
  border-top: 3px solid var(--color-secondary);
  border-radius: 0 0 5px 5px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition: all var(--transition);
  opacity: 0;
  visibility: hidden;
}
header .header-navbar .container .header-navbar-boxLeft nav > ul > li > ul {
  top: 100px; 
}
header .header-navbar .container .header-navbar-boxLeft nav ul li ul li ul {
  top: 30px;
  left: 255px;
}
header .header-navbar .container .header-navbar-boxLeft nav ul li:hover > ul {
  opacity: 1;
  visibility: visible;
}
header .header-navbar .container .header-navbar-boxLeft nav > ul > li:hover > ul {
  top: 70px;
}
header .header-navbar .container .header-navbar-boxLeft nav > ul > li ul li:hover > ul {
  top: 0px;
}
header .header-navbar .container .header-navbar-boxLeft nav ul li ul li {
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid var(--color-gray1);
  min-height: 45px;
}
header .header-navbar .container .header-navbar-boxLeft nav ul li ul li:last-child {
  border-bottom: 0;
}
header .header-navbar .container .header-navbar-boxLeft nav ul li ul li a {
  padding: 11px 20px;
  display: flex;
  height: 100%;
  align-items: center;
  color: var(--color-primary);
  font-weight: bold;
  transition: all var(--transition);
}
header .header-navbar .container .header-navbar-boxLeft nav ul li ul li a::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  background-color: var(--color-white);
  left: 20px;
  opacity: 0;
  transition: all var(--transition);
  transition-delay: 0s;
}
header .header-navbar .container .header-navbar-boxLeft nav ul li ul li a:hover {
  padding-left: 35px;
  color: var(--color-white);
  background-color: var(--color-secondary);
}
header .header-navbar .container .header-navbar-boxLeft nav ul li ul li a:hover::before {
  opacity: 1;
  transition-delay: 0.2s;
}

header .header-navbar .container .header-navbar-boxLeft .header-navbar-boxLeft-btnSearch {
  height: 100%;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  overflow: hidden;
  position: relative;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  transition: all var(--transition);
}
header .header-navbar .container .header-navbar-boxLeft .header-navbar-boxLeft-btnSearch::before {
  position: absolute;
  content: '';
  background-color: rgba(255, 255, 255, 0.1);
  width: 150%;
  height: 150%;
  border-radius: 10px 50px 50px 80px;
  top: 0;
  left: 0;
  transition: all var(--transition);
}
header .header-navbar .container .header-navbar-boxLeft .header-navbar-boxLeft-btnSearch span.material-symbols-outlined {
  position: relative;
  font-size: 2em;
  z-index: 1;
}
header .header-navbar .container .header-navbar-boxLeft .header-navbar-boxLeft-btnSearch:hover::before {
  background-color: var(--color-secondary);
}
header .header-navbar  .container .header-navbar-boxRight {
  background-color: var(--color-secondary);
  width: 240px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50px 0px 50px 50px;
  justify-content: center;
  flex-shrink: 0;
}
header .header-navbar .container .header-navbar-boxRight .boxes div:nth-child(1) span.material-symbols-outlined,
header .header-navbar .container .header-navbar-boxRight .boxes div:nth-child(2) label,
header .header-navbar .container .header-navbar-boxRight .boxes div:nth-child(2) p {
  color: var(--color-white);
}
header .header-navbar .container .header-navbar-boxRight .boxes div:nth-child(2) a p:hover {
  color: var(--color-primary);
}


.popup-search {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100000;
  display: none;
}
.popup-search .popup-search-close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-white);
  color: var(--color-black2);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  top: 50px;
  right: 90px;
  position: absolute;
  transition: all var(--transition);
}
.popup-search .popup-search-close:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.popup-search .popup-search-form {
  width: var(--width-default);
  height: 55px;
  background-color: var(--color-white);
  border-radius: 100px;
  padding: 5px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup-search .popup-search-form button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  color: var(--color-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  transition: all var(--transition);
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.popup-search .popup-search-form button:hover {
  background-color: var(--color-primary);
}
.popup-search .popup-search-form input {
  height: 100%;
  border-radius: 100px;
  width: 100%;
  padding: 0 10px;
  border: 0;
}
/* End Header Navbar */


/* ==============================
--- Slider ---
============================== */

/* ==============================
--- Contents ---
============================== */

/* ==============================
--- Footer ---
============================== */






@media only screen and (max-width: 1200px) {
  :root {
    --width-default: calc(100% - 20px);
  }
}

@media only screen and (max-width: 1000px) {
  header .header-topbar,
  header .header-middlebar-boxRight {
    display: none;
  }

  header .header-middlebar {
    height: 80px;
    position: fixed;
  }

  header .header-middlebar .container {
    height: 100%;
  }

  header .header-middlebar .container .header-middlebar-boxLeft img {
    width: 120px;
  }

  header .header-middlebar .container .header-middlebar-boxLeft-actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  header .header-middlebar .container .header-middlebar-boxLeft-actions div span.material-symbols-outlined {
    color: var(--color-black2);
    font-size: 1.8em;
  }

  header .header-navbar {
    margin: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    display: none;
  }
  header .header-navbar .container {
    width: 250px;
    height: 100%;
    background-color: var(--color-white);
    flex-direction: column;
    position: relative;
    left: -100%;
  }
  header .header-navbar .container .header-navbar-boxRight,
  header .header-navbar .container .header-navbar-boxLeft::after {
    display: none;
  }
  
  header .header-navbar .container .header-navbar-logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-gray1);
  }
  
  header .header-navbar .container .header-navbar-logo img {
    width: 120px;
  }

  header .header-navbar .container .header-navbar-boxLeft {
    background: none;
    border-radius: 0;
    justify-content: flex-start;
    box-shadow: none;
    width: 100%;
  }

  header .header-navbar .container .header-navbar-boxLeft nav {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  header .header-navbar .container .header-navbar-boxLeft nav ul {
    width: 100%;
    flex-direction: column;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li {
    width: 100%;
    cursor: pointer;
    border-bottom: 0px solid var(--color-gray1);
    min-height: 45px;
    color: var(--color-black2);
    position: relative;
    transition: none;
    flex-shrink: 0;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li i {
    display: block;
    position: absolute;
    right: 10px;
    color: var(--color-black3);
    font-size: 1.4em;
    top: 13px;
  }
  header .header-navbar .container .header-navbar-boxLeft nav > ul > li {
    height: fit-content;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  header .header-navbar .container .header-navbar-boxLeft nav > ul > li.active {
    background: none;
  }
  header .header-navbar .container .header-navbar-boxLeft nav > ul > li:hover {
    background: none;
  }
  header .header-navbar .container .header-navbar-boxLeft nav > ul > li.active a {
    color: var(--color-secondary);
  }
  header .header-navbar .container .header-navbar-boxLeft nav > ul > li > a {
    color: var(--color-black2);
    display: inline-flex;
    padding: 8px 10px;
    font-weight: bold;
    height: 45px;
    transition: none;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li ul {
    position: relative;
    width: 100%;
    border-top: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: var(--color-gray1);
    opacity: 1;
    visibility: visible;
    display: none;
    transition: none;
  }
  header .header-navbar .container .header-navbar-boxLeft nav > ul > li > ul {
    top: 0; 
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li ul li ul {
    top: 0;
    left: 0;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li:hover > ul {
    opacity: 1;
    visibility: visible;
  }
  header .header-navbar .container .header-navbar-boxLeft nav > ul > li:hover > ul {
    top: 0;
  }
  header .header-navbar .container .header-navbar-boxLeft nav > ul > li ul li:hover > ul {
    top: 0px;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li ul li:last-child {
    border-bottom: 0;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li ul li a {
    display: inline-flex;
    color: var(--color-black2);
    font-weight: normal;
    transition: none;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li ul li a::before {
    display: none;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li ul li a:hover {
    padding-left: 20px;
    color: inherit;
    background: none;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li ul li ul {
    background-color: #ddd;
  }
  header .header-navbar .container .header-navbar-boxLeft nav ul li ul li ul li a {
    font-weight: normal;
    padding-left: 30px;
  }
  header .header-navbar .container .header-navbar-boxLeft .header-navbar-boxLeft-btnSearch {
    display: none;
  }

  
  .popup-search .popup-search-close {
    top: 30px;
    right: 30px;
  }
}